
/*-- Start reset --*/
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark form,menu,nav,object,ol,option,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;border:0;padding:0;font:inherit;vertical-align:baseline;box-sizing: border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
	button,input[type=checkbox],input[type=image],input[type=radio],input[type=submit],label{cursor:pointer}
	strong{font-weight:700}
	em{font-style:italic}
	sub, sup {font-size: 0.8em;vertical-align:sub;}
	sup { vertical-align: super;}
	
/*-- End reset --*/

@font-face {
	font-family: "chunkfive";
	src: url("/assets/fonts/Chunkfive.otf") format("otf"),
		 url("/assets/fonts/chunkfive-webfont.woff") format("woff");
}

:root {
	--color-product-a: cornflowerblue;
	--color-product-b: orangered;
}

html {
	font-size: 62.5%;/* 10px */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	background: #f8f8f8;
	color: #333;
}

h1,
h2 {
	font-family: chunkfive, arial;
	font-weight: normal;
	color: #555;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	margin-bottom: 0.5em;
	font-size: 2.4rem;
}

.debug-info {
	display: none;	
}

.debug .debug-info {
	display: block;
}

.connect-box {
	position: fixed;
	bottom: 0;
	right: 0;
}

.products {
	margin: 0 auto;
	display: flex;
	width: 100%;
	max-width: 1200px;
	/* justify-content: stretch; */
}

.products > section {
	overflow: hidden;
	flex: 1 1 auto;
	height: 80vh;
	transition: max-width 0.3s;
}

.instructions {
	/* default: only instructions visible */
	max-width: 100%;
}

.product--a,
.product--b,
.product-comparison {
	max-width: 0;
}

	.products--a-active .product--a,
	.products--b-active .product--b {
		max-width: 100%;
	}

	.products--a-active .instructions,
	.products--a-active .product--b,
	.products--a-active .product-comparison,
	.products--b-active .instructions,
	.products--b-active .product--a,
	.products--b-active .product-comparison {
		max-width: 0;
	}
	
	.products--a-active .product--b .product__video,
	.products--b-active .product--a .product__video {
		display: none;
	}

	.products--a-active.products--b-active .product--a,
	.products--a-active.products--b-active .product--b {
		max-width: 30%;
	}

	.products--a-active.products--b-active .product-comparison {
		max-width: 40%;
	}

/*-- styling per section --*/

	.instructions {
		padding-top: 8rem;
		text-align: center;
	}

	.instructions__title {
		margin: 0 0 0.5em;
	}

	.instructions__intro {
		margin-bottom: 5rem;
	}

	.instructions .pack-shot {
		display: inline-block;
		margin-right: 50px;
	}

	.products {
	}

	
	.panel__content {
		padding: 2em;
	}
	
	.product .panel__content {
		display: flex;
	}

	.pack-shot {
		--size: 160px;
		position: relative;
		margin: 0 0 2em;
		width: var(--size);
		height: var(--size);
	}

	.pack-shot::after {
		content: '';
		display: block;
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 10px;
		background: transparent;
		border: 0;
		left: 18px;
		bottom: 0;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	
	.pack-face {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 2px solid #ccc;
		border-radius: 10px;
		background: white;
		transform: scaleX(0.9);
	}

	.pack-face--front {
		left: 25%;
	}

	.pack-title {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 45%;
		left: 45%;
		width: 40%;
		height: 40%;
		border-radius: 4px;
		background: var(--color-product-a);
		color: white;
		font-family: chunkfive, arial;
		font-size: 5.0rem;
	}

	.pack-shot--b .pack-title {
		background: var(--color-product-b);
	}

	.product--a h2 {
		color: var(--color-product-a);
	}

	.product--b h2 {
		color:  var(--color-product-b);
	}

	.product__text {
		max-width: 20em;
	}

	.product__video {
		display: flex;
		justify-content: center;
		margin-left: 4em;
		align-items: center;
		width: 480px;
		height: 360px;
		background: #ccc;
	}

	.video__controls {
		position: relative;
		width: 100px;
		height: 60px;
		border-radius: 5px;
		background: white;
	}

	.video__controls::after {
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-20%, -50%);
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-left: 20px solid var(--color-product-a);
	}

	.product--b .video__controls::after {
		border-left-color: var(--color-product-b);
	}

	/*-- product --*/
	.features-list {
		padding: 1em;
		list-style-type: square;
	}

	.comparison-table {
		margin-top: 130px;
	}

	th,
	td {
		padding: 0.5em;
	}

	th[scope="col"],
	td {
		text-align: center;
	}

	th[scope="row"] {
		text-align: left;
		padding: 0.5em 0;
	}

	th[scope="col"] {
		padding-bottom: 2.2em;
	}

	th[scope="row"],
	td {
		border-top: 1px solid #ccc;
	}

	tr:last-child th[scope="row"],
	tr:last-child td {
		border-bottom: 1px solid #ccc;
	}

	.feature--pro,
	.feature--con {
		font-weight: bold;
	}

	.feature--pro {
		color: green;
	}

	.feature--con {
		color: darkred;
	}